.side-bar {
    width: 20%;
    height: 100vh;
    background: #773693;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;

    .side-bar-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;

        img{
            width: 200px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: 85%;
        padding-bottom: 100px;

        .nav-link {
            width: 200px;
            text-align: center;
            border-radius: 35px;
            background: rgb(195, 195, 195);
            padding: 10px 20px;
            color: #773693;
            font-weight: 600;
            transition: all 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            &:hover {
                transform: scale(1.03);
                background: white;
                color: #773693;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            }
        }

        .active {
            background: white;
            font-weight: bold;
        }
    }
}